
/*
칸 사이사이 여백을 없애고 싶을 때 
셀과 셀 사이의 공간이 사라짐
*/

table{
    border-collapse: collapse ;
}

td {
    border: 1px solid red; padding: 10px;
}
th{
    border: 1px solid red;
    padding: 10px;
    background-color: lightslategray;
}